$IMCCONFIG
#
# IMC2 Freedom CL-2.1 config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      LexiDistro
Autoconnect    1
MinPlayerLevel 10
MinImmLevel    101
AdminLevel     104
Implevel       105
InfoName       A LexiMUD
InfoHost       unknownmud.com
InfoPort       4000
InfoEmail      someone@unknownmud.com
InfoWWW        http://www.unknownmud.com/
InfoBase       LexiMUD
InfoDetails    LexiMUD: You cant have it

# Your router connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr  66.218.49.113
ServerPort  9000
ClientPwd   CLIENTPWD-GOES-HERE
ServerPwd   SERVERPWD-GOES-HERE
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         0
End

$END
